# Mode, Frontend URL and Port
PROJECT_NAME=RitualPlanner-WorkSuite
NODE_ENV=dev # dev | prod | test
PORT=4000
FRONTEND_URL=http://localhost:3000

# Postgres Database Configuration
DB_HOST=
DB_PORT=
DB_NAME=
DB_PASSWORD=
DB_USERNAME=

# Swagger Config
SWAGGER_USER=
SWAGGER_PASSWORD=

# Migrations Table Name
DB_MIGRATION_TABLE_NAME=migrations

# Email Configuration
SMTP_HOST=
SMTP_PASSWORD=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_FROM=
TRANSPORT_TYPE=
DEVELOPER_EMAIL=

# Dev Alert Email
DEV_ALERT_EMAIL_THROTTLE_MS=